*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: 'Sora', sans-serif;
  background-color: #333;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.card {
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  border-radius: 10px;
  box-shadow: rgb(0, 0, 0) 5px 5px 20px 1px;
  color: #333;
  font-size: 2rem;
  width: 700px;
  padding: 30px 30px;
}

#password {
  width: 100%;
  padding: 15px 15px 80px 15px;
  font-size: 1.2rem;
  text-align: center;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

.btn {
  border: none;
  background-color: rgb(255, 41, 41);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0) 0px 1px 5px 0px;
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button {
  cursor: pointer;
  background: #c0c7cf;
}


@media (max-width: 720px) {

  body,html {
    font-size: .8rem;
  }

  .card {
    margin: 20px;
    padding: 10px;
  }

  .btn {
    padding: 5px;
    width: 200px;
  }

}